<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="../static/base_home.css">
    <title>{% block title %}Finso - Expense Tracker{% endblock %}</title>
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="logo">
            <img src="../static/images/logo.jpg" alt="Finso Logo">
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="auth-buttons">
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        </div>
    </nav>

    <!-- Content Block -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Finso - Expense Tracker. All rights reserved.</p>
    </footer>
</body>

</html>
