<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'base_home.css' %}">
    <link rel="stylesheet" href="{% static 'category_styles.css' %}">

    <title>{% block title %}Finso - Expense Tracker{% endblock %}</title>
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="logo">
            <img src="{% static 'images/logo.jpg' %}" alt="Finso Logo">
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="auth-buttons">
            {% if user.is_authenticated %}
            <ul style="list-style: none; display: flex;">
                <li><a href="{% url 'notifications' %}">Notify</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            <!-- <ul style="list-style: none;">
            <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul> -->
            {% else %}
            <ul class="loglist" style="list-style: none; display: flex;">
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            </ul>
            {% endif %}
        </div>
    </nav>

    <!-- Content Block -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Finso - Expense Tracker. All rights reserved.</p>
    </footer>
</body>

</html>
