<!-- templates/expense_list.html -->
{% extends 'base.html' %}

{% block title %}Expense List{% endblock %}

{% block content %}
<style>
    /* expense_list.css */

    .expense-list {
        list-style-type: none;
        padding: 10px;
        margin-top: 20px;
    }

    .expense-item {
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-left: 5rem;
        margin-right: 5rem;
        position: relative; /* Added for button positioning */
        height: 30px;
        padding-top: 10px;
    }

    .expense-item:hover {
        background-color: #f0f0f0;
    }

    .expense-links {
        position: absolute;
        top: 10px;
        right: 10px;
        bottom: 10px;
    }

    .expense-btn {
        display: inline-block;
        padding: 8px 16px;
        background-color: #45a049;
        color: #ffffff00;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        text-decoration: none;
        transition: background-color 0.3s ease;
        margin-bottom:-20px;
        align-items: center;
    }

    .expense-btn:hover {
        background-color: #0ca90f;
        
    }

    .add-expense-link {
        
        display: inline-block;
        align-items: center;
        margin-top: 20px;
        font-size: 14px;
        margin-left: 37rem;
        color: #fff;
        background-color: #45a049;
        border: none;
        border-radius: 4px;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .add-expense-link:hover {
        background-color: #0ca90f;
    }
</style>

<div style="margin-left:10rem; color: white;">
    <h1>Expense List</h1>
    
    <ul>
        {% for expense in expenses %}
            <li>
                Amount: {{ expense.amount }} - Category: {{ expense.category }} - Content: {{ expense.content }} - Date: {{ expense.date }}
                <br><a style="text-decoration: none;" href="{% url 'edit_expense' expense_id=expense.id %}">Edit</a>
                <a style="text-decoration: none;" href="{% url 'delete_expense' expense_id=expense.id %}">Delete</a>
            </li>
        {% endfor %}

        <div style="margin-top: 2rem; margin-bottom: 4rem;"> 
        <a style="text-decoration: none; margin-left: -2rem; background: transparent; border: 2px solid rgba(255, 255, 255, 0.164); border-radius: 10px; padding: 0.8rem; color: white; font-size: 1rem; font-weight: 700; " href="{% url 'add_expense' %}">Add Expense</a>
    </div>
    </ul>


    </div>
{% endblock %}
