{% extends 'base.html' %}

{% block title %}Expense Statistics{% endblock %}

{% block content %}
    <h1>Expense Statistics</h1>
    <div>
        <p>Total Income: {{ total_income }}</p>
        <p>Total Expenses: {{ total_expenses }}</p>
        <p>Remaining Amount: {{ remaining_amount }}</p>
    </div>
    <h2>Category-wise Total Expenses</h2>
    <ul>
        {% for category_total in category_totals %}
            <li>{{ category_total.category__name }} - ${{ category_total.total_expenses }}</li>
        {% endfor %}
    </ul>
    
    <h2>Recent Expenses</h2>
    <ul>
        {% for expense in recent_expenses %}
            <li>{{ expense.date }} - {{ expense.content }} - ${{ expense.amount }}</li>
        {% empty %}
            <li>No recent expenses found.</li>
        {% endfor %}
    </ul>

    <div>
        <label for="time_interval">Select Time Interval:</label>
        <select id="time_interval" onchange="updateCharts()">
            <option value="weekly" {% if time_interval == 'weekly' %}selected{% endif %}>Weekly</option>
            <option value="monthly" {% if time_interval == 'monthly' %}selected{% endif %}>Monthly</option>
            <option value="3months" {% if time_interval == '3months' %}selected{% endif %}>3 Months</option>
            <option value="6months" {% if time_interval == '6months' %}selected{% endif %}>6 Months</option>
            <option value="yearly" {% if time_interval == 'yearly' %}selected{% endif %}>Yearly</option>
        </select>
    </div>
    <div>
        <button onclick="showPieChart()">Show Pie Chart</button>
        <button onclick="showBarChart()">Show Bar Chart</button>
    </div>
    <div>
        <img id="pie-chart" src="data:image/png;base64,{{ pie_chart }}" alt="Pie Chart">
        <img id="bar-chart" src="data:image/png;base64,{{ bar_chart }}" alt="Bar Chart" style="display: none;">
    </div>

    <script>
        function updateCharts() {
            var timeInterval = document.getElementById("time_interval").value;
            window.location.href = "{% url 'expense_statistics' %}?time_interval=" + timeInterval;
        }

        function showPieChart() {
            document.getElementById("pie-chart").style.display = "block";
            document.getElementById("bar-chart").style.display = "none";
        }

        function showBarChart() {
            document.getElementById("pie-chart").style.display = "none";
            document.getElementById("bar-chart").style.display = "block";
        }

        // Set the default view to show the pie chart
        document.addEventListener("DOMContentLoaded", function() {
            showPieChart();
        });
    </script>
{% endblock %}
