{% extends 'base.html' %}

{% block title %}Home - Finso{% endblock %}

{% block content %}
{% load static %}
    <!-- Home Page Block -->
    <div class="home-block">
        <div class="home-text">
            <h1>Track your expenses easily with Finso</h1>
            <p>Effortlessly manage your finances and stay on top of your expenses with Finso, your ultimate expense tracker.</p>
            
            {% if user.is_authenticated %}
                <a href="{% url 'expense_list' %}">
                <button type="button">Go to Expense List</button>
                </a>
            
                <a href="{% url 'expense_statistics' %}">
                <button type="button">Charts</button>
                 </a>
            {% else %}
                <span></span>
            {% endif %}
            
               
            
        </div>
        <div class="home-image">
            <img src="../static/images/Gemini_Generated_Image (3).jpg" alt="Expense Tracker Image">
        </div>
    </div>

    <!-- Three Cards Section -->
    <div class="card-container">
        <div class="card">
            <h2>Card 1</h2>
            <p>Card 1 content goes here.</p>
        </div>
        <div class="card">
            <h2>Card 2</h2>
            <p>Card 2 content goes here.</p>
        </div>
        <div class="card">
            <h2>Card 3</h2>
            <p>Card 3 content goes here.</p>
        </div>
    </div>
{% endblock %}
