

{% extends 'base.html' %}

{% block title %}Notifications{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/notifications.css">
<style>
    .container{
        background-color: transparent;
    }
</style>
<div class="container">
    <div class="card"  style="min-height: 75vh; margin-top: -2\1rem; background: transparent; color: white; box-shadow: 0 0.25rem 2rem 0 rgba(0, 0, 0, 0.436);  ">

        <h1>Notifications</h1>
        <div class="inner">
            <div class="notification-content">
                <div class="exceeded-categories">
                    <h2></h2>
                    <ul style="list-style: none;">
                        {% for category in exceeded_categories %}
                        <li style="padding: 1rem; background-color: red; color: black; border-radius: 10px;">{{ category.name }} -- Budget Exceeded</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="reminders">
                    <h2></h2>
                    {% for reminder in reminders %}
                    <div class="reminder-card">
                        <h3 style="color: black;">{{ reminder.name }} - Due today</h3>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
