

{% extends 'base.html' %}

{% block title %}Notifications{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/notifications.css">
<div class="container">
    <div class="card">

        <h1>Notifications</h1>
        <div class="inner">
            <div class="notification-content">
                <div class="exceeded-categories">
                    <h2></h2>
                    <ul>
                        {% for category in exceeded_categories %}
                        <li>{{ category.name }}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="reminders">
                    <h2></h2>
                    {% for reminder in reminders %}
                    <div class="reminder-card">
                        <h3>{{ reminder.name }} - Due today</h3>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
