<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="register-page">
        <div class="form">
          <div class="register">
            <div class="register-header">
              <h3>REGISTER</h3>
              <p>Create a new account.</p>
            </div>
          </div>
          <form method="post" class="register-form" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username"/>
            <input type="password" name="password1" placeholder="Password"/>
            <input type="password" name="password2" placeholder="Confirm Password"/>
            <button type="submit">Register</button>
            <p class="message">Already registered? <a href="{% url 'login' %}">Login</a></p>
          </form>
        </div>
      </div>
</body>
</html>