{% extends 'base.html' %}

{% block title %}Upload Receipt{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/upload_receipt.css">
<div class="upload-container">
    <h1>Upload Receipt</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="receipt" class="file-label">Select Receipt:</label>
            <input type="file" id="receipt" name="receipt" accept="image/*"
                required>
            <div class="file-button">Choose File</div>
        </div>
        <button type="submit" class="btn-upload">Upload</button>
    </form>
</div>
{% endblock %}