{% extends 'base.html' %}

{% block title %}Upload Receipt{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/upload_receipt.css">
<div style="margin-left: 10rem; padding: 5rem; min-height: 65vh;">
<div class="upload-container" style="color: white;">
    <h1 style="color: white;">Upload Receipt</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group" style="margin-bottom: 1rem;">
            <label for="receipt" class="file-label">Select Receipt:</label>
            <input type="file" id="image" name="image" accept="image/*"
                required>
            <div  class="file-button">Choose File</div>
        </div>
        <button style="text-decoration: none; margin-left: 0rem; background: transparent; border: 2px solid rgba(255, 255, 255, 0.164); border-radius: 10px; padding: 0.8rem; color: white; font-size: 1rem; font-weight: 700; " type="submit" class="btn-upload">Upload</button>
    </form>
</div>
{% endblock %}