/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}
.auth-buttons ul {
    list-style: none;
    display: flex;
}

.auth-buttons ul li{
    margin-right: 20px;
}

body {
    font-family: 'Arial', sans-serif;
    background: rgb(67, 69, 112);
    background: radial-gradient(
      circle,
      rgba(67, 69, 112, 1) 3%,
      rgba(35, 36, 57, 1) 60%
    );
    max-width: 100vw;
    overflow-x: hidden;
}

/* Navigation Bar Styles */
.navbar {
    background-color: #c2cfb4;
    color: white;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo img {
    width: 50px;
}

.nav-links ul {
    list-style: none;
    display: flex;
}

.nav-links ul li {
    margin-right: 20px;
}

.auth-buttons ul {
    list-style: none;
    display: flex;
}

.auth-buttons ul li{
    margin-right: 20px;
}


/* Home Page Styles */
.home-block {
    overflow-x: hidden;
    max-width: 100vw;
    display: flex;
    min-height: 100vh;
    justify-content:space-between;
    /* align-items: center; */
    padding: 20px;
    background-color: #c2cfb4;
}

.home-text {
    max-width: 500px;
}

.home-image img {
    max-width: 40vw;
    /* float: right;  */
    height: auto;
}

/* Card Styles */
.card-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.card {
    flex: 1;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 10px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}


/* paginaton */

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}