/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #c2cfb4;
    max-width: 100vw;
    overflow-x: hidden;
}

/* Navigation Bar Styles */
.navbar {
    background-color: #c2cfb4;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo img {
    width: 50px;
}

.nav-links ul {
    list-style: none;
    display: flex;
}

.nav-links ul li {
    margin-right: 20px;
}

/* Home Page Styles */
.home-block {
    overflow-x: hidden;
    max-width: 100vw;
    display: flex;
    min-height: 100vh;
    justify-content:space-between;
    /* align-items: center; */
    padding: 20px;
    background-color: #c2cfb4;
}

.home-text {
    max-width: 500px;
}

.home-image img {
    max-width: 40vw;
    /* float: right;  */
    height: auto;
}

/* Card Styles */
.card-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.card {
    flex: 1;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 10px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
